<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is home page</h1>
    <h3> <%= 1+2 %> </h3>
    <h2> <%= "apna college".toUpperCase() %></h2>
    <p> <%= ["hello","sonali","soni"][2] %> </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam placeat quisquam consectetur doloribus delectus eveniet repudiandae, quaerat libero totam, quibusdam exercitationem excepturi facilis fugiat inventore, corporis corrupti atque aliquam rerum?</p>
    <button>click me!</button>
</body>
</html>